body {
	background-color: rgb(245 243 229);
}

#container {
	min-height: 100vh;
	min-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 10px 10px;
}


#container > div {
	background-color: white;
	padding: 20px;
}


.tile-title {
	color: rgb(191 191 191);
}


table, th, td {
  border: 1px solid black;
}