<!doctype html>
<html>
  <head>
    <title>Very useful dashboard</title>
    <link rel="stylesheet" href="..\static\style.css">
  </head>
  <body>
    <div id="container">
        <div class="dashboard-tiles">
		<div class="tile-title">Weather forecast for {{ weather_data.city }}, {{ weather_data.state }}</div>
			<p>
				Temperature: {{ weather_data.temperature }}&#176;C</br>
				Rain: {{ weather_data.rain }}mm</br>
				Wind: {{ weather_data.wind }}m/s {{ weather_data.wind_dir }}</br>
			</p>
		</div>
	<div class="dashboard-tiles">b</div>
	<div class="dashboard-tiles">zditm next bus</div>
	<div class="dashboard-tiles">
		<div class="tile-title">Last Pogon Szczecin match</div>
			<p>
				{{ last_match_data.home_team }} vs {{ last_match_data.away_team }}</br>
				{{ last_match_data.score }}</br>
				{{ last_match_data.date }}, {{ last_match_data.time }}
			</p>
	</div>
	<div class="dashboard-tiles">
		<div class="tile-title">Next Pogon Szczecin match</div>
			<p>
				{{ next_match_data.home_team }} vs {{ next_match_data.away_team }}</br>
				{{ next_match_data.date }}, {{ next_match_data.time }}
			</p>
	</div>
	<div class="dashboard-tiles">pogon standings</div>
	<div class="dashboard-tiles">togoodtogo</div>
	<div class="dashboard-tiles">h</div>
	<div class="dashboard-tiles">i</div>
    </div>
  </body>
</html>